<!DOCTYPE html>
<html>
  <head>
    <title>1000words</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link href="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.css" rel="stylesheet">
    <%= javascript_include_tag 'application' %>
    <script src="https://cdn.rawgit.com/michalsnik/aos/2.1.1/dist/aos.js"></script>
    <script src="https://widget.cloudinary.com/global/all.js"></script>
    <script type="text/javascript">
    window.CLOUDINARY_OPTIONS = {
      cloud_name: "<%= ENV['CLOUD_NAME'] %>",
      upload_preset: "<%= ENV['UPLOAD_PRESET'] %>",
      stylesheet: '#cloudinary-overlay.with_theme {display: block; background-color: rgba(0,0,0,0.6) !important;}#cloudinary-overlay {background-color: rgba(0,0,0,0.6) !important;}#cloudinary-widget {min-width: 600px; max-width: 600px; position: absolute; margin-left: 17.5%; top: 45%; background-color: rgba(0,0,0,0.6) !important;-moz-border-radius: 0;-webkit-border-radius: 0;border-radius: 0;border: none;-moz-box-shadow: none;-webkit-box-shadow: none;box-shadow: none;} a.close {top: -1px !important;}#cloudinary-navbar {background: rgba(0,0,0,0.2);border: none;border-bottom: 1px solid #eee;margin: 0 0 10px 0;height: 30px;}#cloudinary-navbar .source {border-color: none;border-right: 0px;border-bottom: 3px solid none;height: 30px;}#cloudinary-navbar .source .label {font-size: 14px;line-height: 22px;}#cloudinary-navbar .source .icon {display: none;}#cloudinary-navbar > ul> li.source.camera {visibility:hidden !important;}#cloudinary-navbar .source.active {background: none;border-bottom: 3px solid rgb(94,204,255);}#cloudinary-navbar .source.active .label {color: #000;}#cloudinary-widget .drag_area {background-color: rgba(0,0,0,0.2) !important;border: 2px dashed #ddd;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;padding: 20px 20px -5px 20px !important;}input, span, a {font-family: sans-serif !important; color: white !important;} .upload_button_holder, a.button.upload_url {border-radius: 2px; background: rgb(78,173,214) !important;background: -moz-linear-gradient(top,  rgba(78,173,214,1) 48%, rgba(73,161,209,1) 59%, rgba(88,155,214,1) 100%) !important;background: -webkit-linear-gradient(top,  rgba(78,173,214,1) 48%,rgba(73,161,209,1) 59%,rgba(88,155,214,1) 100%) !important;background: linear-gradient(to bottom,  rgba(78,173,214,1) 48%,rgba(73,161,209,1) 59%,rgba(88,155,214,1) 100%) !important;}#cloudinary-widget .drag_area.in {border-color: #01BB16}#cloudinary-navbar .sources .icon {background-position-x: 0px ;}#cloudinary-navbar .close {color: rgb(85, 85, 85);}#cloudinary-widget .button, #cloudinary-widget .button.small_button {box-sizing: border-box;color: #037FCB;background: none;border: 2px solid #037FCB;} .cloudinary_fileupload input, .button.select_file.select_multiple, a.button.upload_url {border-radius: 2px; border:none !important; font-size: 23px;}#cloudinary-widget .button {height: 45px;width: 180px;line-height: 30px;}#cloudinary-widget .button.small_button {height: 35px;width: 140px;line-height: 25px;}#cloudinary-widget .button:hover, #cloudinary-widget .button.small_button:hover, #cloudinary-widget .upload_button_holder:hover .button {background: rgb(101,189,227);background: -moz-linear-gradient(top,  rgba(101,189,227,1) 48%, rgba(93,178,223,1) 59%, rgba(112,174,228,1) 100%);background: -webkit-linear-gradient(top,  rgba(101,189,227,1) 48%,rgba(93,178,223,1) 59%,rgba(112,174,228,1) 100%);background: linear-gradient(to bottom,  rgba(101,189,227,1) 48%,rgba(93,178,223,1) 59%,rgba(112,174,228,1) 100%);}#cloudinary-widget .panel {height: 479px;}#cloudinary-widget .panel.local {margin-top: 20px;}#cloudinary-widget .panel.local .drag_area .drag_content .label {color: white;font-size: 22px; font-family: sans-serif;}.cloudinary_fileupload input {font-family: sans-serif !important; color: white !important;}#cloudinary-widget .panel.progress .thumbnails {margin-top: 4px;}#cloudinary-widget .panel.camera .form .button_holder {visibility:hidden; margin-top: 10px;margin-bottom: 10px;}#cloudinary-widget .panel.camera .note {font-weight: normal;font-size: 13px;padding: 4px 20px 4px 20px;}#cloudinary-widget .panel.camera video {border-width:0px;}#cloudinary-widget .camera .form {background:#fff;border: 1px solid #eee;-webkit-border-radius: 4px;-moz-border-radius: 4px;border-radius: 4px;margin: 0px 20px 0px 20px;padding-top: 10px;}#cloudinary-overlay.inline .widget {border: 1px solid #ddd;}@media screen and (max-width: 767px) {#cloudinary-widget .drag_area {  border: none;  background: none;}}'
    };
  </script>
  </head>
  <body>
    <script>
      AOS.init({
        duration: 300,
        easing: 'ease-in-sine',
        "data-aos-anchor": ".grid-image",
        delay: 0,
        'data-aos-once': true
      });
      $(window).scroll(() => AOS.refreshHard());
    </script>
    <%= yield %>
  </body>
</html>
